.ToolbarContainer{background:#ffffff;border-bottom:2px solid #999999;border-radius:10px 10px 0 0;display:flex;justify-content:center;align-items:center;height:40px;margin:-20px -20px 20px -20px;position:sticky;top:0;z-index:1}
.ToolbarContainer.sticky{border-top:2px solid transparent;box-shadow:0 3px 5px -3px rgba(51,51,51,.5)}
.Toolbar{display:flex}
.Toolbar .icon{border-radius:5px;width:24px;height:24px;display:flex;justify-content:center;align-items:center;color:#333333}
.Toolbar .icon.disabled{color:rgba(51,51,51,.5);pointer-events:none}
.Toolbar .icon:hover{background:#333333;color:#ffffff;cursor:pointer}
.Toolbar .icon.active {
	background: #333333;
	color: #ffffff;
	box-shadow: 0 0 0 2px #22c55e;
}
.Toolbar .divider{border:none;border-left:2px solid rgba(51,51,51,.2);margin:2px 10px}
.Toolbar .icon + .icon{margin-left:4px}
